html,
body {
  width: 100%;
  overflow: visible;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  cursor:default;
  background-color: #ffffff;
}

#root {
  width: 100%;
 
}

.trails-main {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.trails-text {
  position: relative;
  width: 400px;
  height: 100px;
  line-height: 40px;
  color: rgb(245, 38, 121);
  font-size: 2em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity;
  overflow:hidden;
  font-family: "Helvetica Neue",;
}
.imageani{
  clip-path: polygon(96% 12%, 87% 3%, 50% 7%, 11% 6%, 0% 20%, 10% 53%, 0% 91%, 19% 96%, 55% 92%, 100% 100%, 75% 91%, 100% 100%, 90% 56%, 99% 31%);
  
}
.emailsticky{
  color: white;
  position:absolute;
  top: 20px;
  font-family:'Times New Roman', Times, serif ;
  font-weight: 300;
  opacity: 50%;
  left: 700px;
}
.haedbak a{
  text-decoration: none;
  color:white
}
.haedbak a:hover{
  color:black
}

.trails-text > div {
  overflow: hidden;
}


@media only screen and (max-width: 700px) {
  
  .trails-main{
    width: 100%;
    margin-top:20px;
    padding:10px
  }
  .trails-text{
    font-size: 1.5rem;
  }
}